@font-face {
  font-family: pixel;
  src: url(./light_pixel-7.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: pixel !;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(test.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}

#root {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(bg.gif);
  background-position: bottom;
  background-size: cover;
  max-width: 480px;
  top: 0px;
}

.auth-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.auth-container h2 {
  margin: 0px 20px;
}

.auth-container .auth-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
}

.auth-box input {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: pixel;
  font-size: 12px;
  margin: 10px 0px;
}

.auth-box button {
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  font-family: pixel;
  margin: 10px 0px;
}

.auth-container .doll-img {
  height: 300px;
  width: 180px;
  background-image: url(./normal.png);
  background-color: transparent;
  background-size: cover;
  background-position: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #646947;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 10px;
}

.header .btn-game {
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-family: pixel;
  font-size: 12px;
}

.shadow {
  box-shadow: 6px -6px 24px -2px rgba(0,0,0,0.39);
-webkit-box-shadow: 6px -6px 24px -2px rgba(0,0,0,0.39);
-moz-box-shadow: 6px -6px 24px -2px rgba(0,0,0,0.39);
}

.own {
  text-align: end;
  color: white;
}

.own .nick {
  font-size: 12px;
}

.doll-tutup {
  height: 300px;
  width: 180px;
  background-image: url(./tutup_mata.png);
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
.doll-buka {
  height: 300px;
  width: 180px;
  background-image: url(./normal.png);
  background-color: transparent;
  background-size: cover;
  background-position: center;
}

.doll-marah {
  height: 300px;
  width: 300px;
  background-image: url(./marah.gif);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  overflow: visible !important;
}
.doll-senyum {
  height: 300px;
  width: 300px;
  background-image: url(./senyum.gif);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  overflow: visible !important;
}

.notif {
  width: 80%;
  background-color: #646947;
  padding: 10px;
  border-radius: 10px;
}
.countdown {
  width: 60%;
  background-color: #646947;
  padding: 10px;
  border-radius: 10px;
}

.user-count {
  color: white;
  position: absolute;
}

.game-box {
  padding: 30px;
  background-color: #646947;
  border-radius: 20px;
}

/* 
<div className="game-container">
      <div className="header">
        <button className="btn-game">Peringkat</button>
        <div className="own">
          <div className="nick">
            <span>Iqbal Safei</span>
            <span>#2</span>
          </div>
        </div>
      </div>
      <div className="notif">
        <div>Notif :<span>Bagja Memimpin Pertandingan!</span></div>
      </div>
      <div className="countdown">
        <p>Permainan Belum Dimulai</p>
      </div>
      <div className="doll-tutup"></div>
      <div className="user-count">
        3 dari 10 Orang tersisa!
      </div>
      <div className="game-box">
        <div className="question">
          <p>Siapa presiden indonesia pertama ?</p>
        </div>
        <div className="answer-box">
          <button className="btn-answer">test</button>
          <button className="btn-answer">test</button>
          <button className="btn-answer">test</button>
          <button className="btn-answer">test</button>
        </div>
      </div>
    </div> */




